[build]
  publish = "build"
  command = "bash ./scripts/build.sh"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, max-age: 900, s-maxage=604800, must-revalidate"

[[redirects]]
  from = "/*/logo.png"
  to = "/_placeholder/logo.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}

[[redirects]]
  from = "/*/icon.png"
  to = "/_placeholder/icon.png"
  force = false
  status = 302
  headers = {Cache-Control = "public, max-age: 900, s-maxage=3600, must-revalidate"}